RewriteEngine On

RewriteCond %{HTTP_HOST} !=osmbuildings.org
RewriteRule ^ http://osmbuildings.org%{REQUEST_URI} [R=301]

RewriteRule ^documentation.php$ /documentation/ [R=301,L]
RewriteRule ^documentation/(.*).html$ /documentation/$1.php [R=301,L]

RewriteRule ^touch.*$ /examples/ [R=301,L]
RewriteRule ^examples/(census|Data-visualization|Fullscreen|GeoJSON-load).*$ /examples/ [R=301,L]

RewriteRule ^examples.php$ /examples/ [R=301,L]
RewriteRule ^examples/(.*).html$ /examples/$1.php [R=301,L]

RewriteRule ^(acid|anaglyph3d|darkside|indoor|nyc|sketch)/(.*)$ /examples/$1/$2 [R=301,L]
