.code {
    width: 680px;
    max-height: 80px;
    margin: 20px auto;
    padding: 10px;
    overflow: auto;
    font-size: 9pt;
    border: 1px solid #ccc;
    -webkit-transition: max-height 1s, background-color 1s;
    -moz-transition: max-height 1s, background-color 1s;
    -o-transition: max-height 1s, background-color 1s;
    transition: max-height 1s, background-color 1s;
    cursor: pointer;
}

.code.large {
    overflow: auto;
    max-height: 300px;
    background-color: #eeeeee;
    cursor: default;
}

#description {
    width: 700px;
    margin: 0 auto;
}

button.color {
    cursor: pointer;
    border: 1px solid #666;
    width: 50px;
}

dl {
    line-height: 150%;
}

dt {
}

dd {
    margin-bottom: 20px;
}

li {
    line-height: 150%;
}