#map {
    width: 700px;
    height: 400px;
    margin: 0 auto !important;
    border: 1px solid #ccc;
}

#description {
    width: 700px;
    margin: 0 auto;
}

button.color {
    cursor: pointer;
    border: 1px solid #666;
    width: 50px;
}
