html, body {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map {
	height: 100%;
}

.logo {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 100px;
	height: 47px;
	border: 0;
}
