* {
	box-sizing: border-box
}

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-size: 11pt;
    width: 100%;
}

.layout {
    min-height: 100%;
    margin-bottom: -100px;
}

.center {
    margin: 0 auto;
    width: 750px;
}

.header {
    background-color: rgba(255,255,255,0.75);
    -webkit-box-shadow: 0 2px 10px #999999;
    -moz-box-shadow: 0 2px 10px #999999;
    -o-box-shadow: 0 2px 10px #999999;
    box-shadow: 0 2px 10px #999999;
    z-index: 10;
    position: relative;
}

.logo {
    border: 0;
    width: 100px;
    height: 47px;
    margin: 10px;
}

.content {
    padding: 30px 0 0 0;
}

.push {
    height: 100px;
}

.footer {
    height: 90px;
    background-image: url(images/footer.jpg);
    background-repeat: repeat-x;
    color: #ccc;
    font-size: 10pt;
    padding: 10px 0 0 0;
}

.footer a {
    color: #ffffff;
}

h1 {
    color: #993333;
    letter-spacing: -1px;
    font-size: 20pt;
    font-weight: normal;
}

h2 {
    color: #cc9900;
    letter-spacing: -0.5px;
    font-size: 16pt;
    font-weight: normal;
    margin: 30px 0 10px 0;
}

#introMap {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.sampleMap {
    width: 100%;
    height: 350px;
    border: 1px solid #999;
}

.sampleColor {
    width: 50px;
    height: 20px;
    border: 1px solid #999;
    cursor: pointer;
}

.intro {
    list-style-type: none;
    margin: 300px 0 30px 0;
    padding: 0;
    position: relative;
}

.intro li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 10px;
    background-color: #fff;
    color: #666666;
    font-size: 8pt;
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    -o-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
	line-height: 100%;
}

.intro img {
    width: 75px;
    height: 75px;
    display: block;
    cursor: pointer;
	margin-bottom: 10px;
}

.navigation {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    position: absolute;
    margin: 30px 0 0 100px;
}

.navigation li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
}

.navigation a:link, .navigation a:visited {
    display: inline-block;
    padding: 2px 8px;
    color: #660000;
    font-size: 10pt;
    text-shadow: 0 1px 0 white;
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid #cccccc;
    border-bottom-color: #bcbcbc;
    background: -webkit-linear-gradient(top, rgba(255,255,240,0.2) 0%,rgba(255,204,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,240,0.2) 0%,rgba(255,204,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,240,0.2) 0%,rgba(255,204,0,0.2) 100%); /* IE10+ */
    background: -moz-linear-gradient(top, rgba(255,255,240,0.2) 0%,rgba(255,204,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,240,0.2) 0%,rgba(255,204,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32fffff0', endColorstr='#32ffcc00',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    user-select: none;
}

dt {
    font-style: italic;
    font-weight: bold;
    margin: 20px 0 0 0;
}

dd {
    margin: 10px 0 30px 0;
}

code {
    white-space: pre;
    background: #eee;
    display: inline-block;
    padding: 0 5px;
}